{
  "root": true,
  "extends": ["@react-native-community", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "@react-native-community"],
  "env": {
    "jest": true
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-shadow": ["error"],
        "no-shadow": "off",
        "no-undef": "off"
      }
    }
  ],
  "ignorePatterns": ["node_modules", "src/__generated__"]
}
